<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628238789707-0cjipsbg474eo0ue17jmpu3gloq3h95m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628238789707-0cjipsbg474eo0ue17jmpu3gloq3h95m</string>
	<key>API_KEY</key>
	<string>AIzaSyBLO_2eK2KuXamLOsOuE4q_hdT6mukLB0o</string>
	<key>GCM_SENDER_ID</key>
	<string>628238789707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluidformpilates.ffah</string>
	<key>PROJECT_ID</key>
	<string>fluidform-9d084</string>
	<key>STORAGE_BUCKET</key>
	<string>fluidform-9d084.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628238789707:ios:f38ea817169fa4dba1f1ce</string>
</dict>
</plist>